* {
    margin: 0;
    padding: 0; 
}
body {
    background: linear-gradient(135deg, #1a0d24 0%, #000000 40%,#1a0d0a 75%, #2e1b0a 100% );
    background-attachment: fixed;    
}
.temp_logo {
    display: inline-block;
    color: rgb(248, 150, 30)
}
.pbjcard {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px; 
}
.card {
    display: block;
    height: 300px;
    width: 500px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    text-decoration: none;
}
/* this is the text that we get when we hover over the pictures */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Nunito, sans-serif;
    opacity: 0;
    transition: opacity 0.4s ease;
}
/* opacity turns the picutres darker hence the text gets highlighted */
.card:hover .overlay {
    opacity: 1;
}
/* variables makes it easy to use elements repetetively (altho i count fully use it this time but i do get the jist for now) */
:root {
    --naverbar-text-color: white;
    --navbar-bar-color: black;
    --background-color: #282424;

}
nav {
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: var(--navbar-bar-color);
}
.nav_options {
    display: flex;
    list-style: none;
    gap: 150px;   
}
.nav_options a {
    position: relative;
    text-decoration: none;
    color: var(--naverbar-text-color);
    font-size: 18px;
    font-weight: 500;
    font-family: Nunito, sans-serif;
}
/* this lets put the hover underline animation which looks beautiful, will use it multiple times to get a hold of this new style */
.nav_options a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #ff8a15;
    transition: width 0.5s ease;
}
.nav_options a:hover::after {
    width: 100%;
}
.about {
    height: 280px;
    width: 1100px;
    background: linear-gradient(135deg, #000000,#ff8a15);
    margin: 60px auto;
    border-radius: 65px;
}
.about h2 {
    text-align: center;
    padding-top: 20px;
    font-family: Nunito, sans-serif;
    font-size: 30px;
    color: white;
}
.about p {
    color: white;
    text-align: center;
    font-family: Nunito, sans-serif;
    margin: 25px auto;
    font-size: 24px;
    width: 997px;
}
#scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #ff8a15;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}
#scroll-top img {
    height: 24px;
    width: 24px;
    filter: invert(1);
}
#scroll-top:hover {
  box-shadow: 0 0 15px rgba(255, 138, 21, 0.8),  0 0 30px rgba(255, 138, 21, 0.6);
  transform: translateY(-2px);
}